*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
}

main {
    background-color: #1a1010;
    height: 100%;
    width: 100%;
}

section {
    padding: 32px 0;
    color: #fff;
}

.grid {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-gap: 8px;
    grid-auto-columns: minmax(200px, auto); /* min row size: 50px, maximum: as much as the content needs */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 200px 200px 100px; */
    grid-template-areas: 
        'header header header'
        'header header header'
        'something something something';
    justify-content: start; /* this justifies the grid (horizontally) inside its own container (.grid). 
    other options: center, end, stretch (default) */
    align-content: center; /* this aligns the grid vertically. */
    height: 100%;
}

.grid-item {
    background-color: #f13832;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.grid-item:nth-child(even) {
    background-color: #fd6b51;
}

.grid-item > div {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
}

.grid-item:first-child {
    grid-area: header;
}
