*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.grid {
    /* display: grid; */
}

.grid > div {
    background: #eee;
}

.grid > div:nth-child(even) {
    background: #ddd;
}
