*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
}

main {
    background-color: #1a1010;
    height: 100%;
    width: 100%;
}

section {
    padding: 32px 0;
    color: #fff;
}

.grid {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-gap: 8px;
    grid-auto-rows: minmax(50px, auto); /* min row size: 50px, maximum: as much as the content needs */
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    background-color: #f13832;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.grid-item:nth-child(even) {
    background-color: #fd6b51;
}
