*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    color: #fff;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 500;
    font-size: 44px;
}

h2, h3 {
    font-weight: 400;
}

header {
    padding: 32px 32px 0 32px;
    height: calc(100% - 64px);
    background-image: url('https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1265&q=80');
    background-size: cover;
    background-position: center center;
}

.headings {
    grid-column: 3 / 7;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
}

.highlighted {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    max-height: 33.3%;
    align-self: start;
    margin-top: 32px;
}

.highlighted > h3 {
    display: inline;
    margin-top: 16px;
    grid-column: 1 / span 2;
}

.content {
    background: #102c23;
    grid-column: 3 / -1;
    height: 206px;
}

main {
    background-color: rgb(22, 24, 24);
    height: 100%;
    width: 100%;
}

section {
    padding: 32px;
}

.grid {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: 1fr 206px;
    align-items: start;
}

.grid-item {
    background-color: #20413b;
}

.grid-item:nth-child(even) {
    background-color: #b487a7;
}
