*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
}

main {
    background-color: #1a1010;
    height: 100%;
    width: 100%;
}

section {
    padding: 32px 0;
}

.grid {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 120px; /* set the rows of the grid explicitly */
    grid-auto-rows: 30px; /* all undefined (implicit) rows will take on this value */

    grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* ^ first column stays 200px, the other cols change in size */
}

.grid > div {
    background-color: #f13832;
}

.grid > div:nth-child(even) {
    background-color: #fd6b51;
}
